body {
    font-family: sans-serif;
    background: rgb(109, 148, 233);
}

audio {
    display: block;
    margin-bottom: 1rem;
}

button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#pitch {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

canvas {
    display: block;
    margin-top: 1rem;
    border: 1px solid black;
}