h1{
    text-align: center;
    border: 1em bisque;
}

li{
    color:darkorange;
    text-align: center;
    position: sticky;
}

a{
    color:rgb(255, 77, 0);
}

#empty{
    min-height: 300em;
}

body{
    display: flex;
    flex-flow: column;
    align-items: right;
    background-image: url("https://cdn.theatlantic.com/thumbor/i9jH00gdQ3Lov_7DI2xDujaTwQQ=/845x470:2635x1477/1600x900/media/img/mt/2016/03/RTX283V4/original.jpg");
}