/*
Week 4 Exercise
Daniel Zeng
*/

#starwarsCrawl{
    background-color: black;
}

ol{
    list-style: none;
}

li{
    color:darkorange;
    text-align: center;
    position: sticky;
    top: 50px;
    left: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color:rgb(113, 83, 234);
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#empty{
    min-height: 300em;
}

#olSpace{
    min-height: 2em;
}

#line1{
    background-color:black;
    font-size: 1em;
    top: 30px;
    left: 30px;
}

#line2{
    background-color:black;
    font-size: 1.25em;
    top: 30px;
    left: 30px;
}

#line3{
    background-color:black;
    font-size: 1.5em;
    top: 30px;
    left: 30px;
}

#line4{
    background-color:black;
    font-size: 1.75em;
    top: 30px;
    left: 30px;
}

#line5{
    background-color:black;
    font-size: 2em;
    top: 30px;
    left: 30px;
}

#line6{
    background-color:black;
    font-size: 2.25em;
    top: 30px;
    left: 30px;
}

#line7{
    background-color:black;
    font-size: 2.5em;
    top: 30px;
    left: 30px;
}

.positioned{
    /*
    position: absolute;
    background: yellow;
    top: 10px;
    left: 10px;
    */
    position: sticky;
}

body {
    width: 500px;
    margin: 0 auto;
    /*position: relative;*/
    height: 1400px;
}

p{
    background:rgb(111, 75, 22);
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

p:nth-of-type(1) {
    /*
    position: absolute;
    background: lime;
    top: 10px;
    right: 30px;
    z-index: 1;
    */
    margin-top: 60px;
}  

h1 {
    position: fixed;
    top: 0;
    width: 500px;
    margin-top: 0;
    background: white;
    padding: 10px;
}
  
span {
    background: red;
    border: 1px solid black;
}

dt {
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1em 0;
}
  