#anime{
    animation-iteration-count: infinite;
}

body{
    background-color: black;
    display: flex;
    align-items: flex-end;
}

#bolt1{
    width: 100px;
    height: 10px;
    border-radius: 20%;
    background: yellow;
    
    animation: 0.1s linear 0s infinite alternate rise;
}

@keyframes rise {
    from {
        transform: skew(50deg) translateY(100vh);
    }
    70%{
        transform: skew(40deg) translateY(10vh);
    }
    to {
        transform: skew(50deg) rotate(30deg) translateY(0);
    }
}

#bolt2{
    width: 10px;
    height: 100px;
    border-radius: 130%;
    background: rgb(255, 255, 119);
    
    animation: 1s linear 1s infinite alternate rise2;
}

@keyframes rise2 {
    from {
        transform: skew(50deg) translateX(0) translateY(100vh);
    }
    20%{
        transform: skew(-40deg) translateY(10vh);
    }
    to {
        transform: skew(50deg) rotate(40deg) translateX(30) translateY(0);
    }
}

#bolt3{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid rgb(224, 165, 39);
    border-bottom: 50px solid transparent;
    border-radius: 130%;
    background: rgb(211, 211, 23);
    
    animation: 1s linear 0.5s infinite alternate rise2;
}

@keyframes rise3 {
    from {
        transform: skew(50deg) translateX(1000) translateY(100vh);
    }
    20%{
        transform: skew(-40deg) translateY(10vh);
    }
    to {
        transform: skew(50deg) rotate(40deg) translateX(30) translateY(0);
    }
}

#DM2193{
    color: rgb(0, 255, 179);
    flex-flow: column;
    font-size: 10em;

    animation: 1s linear 3s infinite alternate dmIN;
}

@keyframes dmIN {
    from {
        transform: perspective(17px);
    }
    70%{
        transform: skew(-40deg) translateY(10vh);
    }
    to {
        transform: skew(50deg) rotate(40deg) translateX(30) translateY(0);
    }
}