body{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(152, 109, 28);
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/584/573/small/armybackground3-01.jpg");
}

b{
    text-transform: uppercase;
    font-weight: lighter;
    margin: 10px rgb(0, 174, 255);
    border: 2px ridge rgb(62, 101, 255);
}

em{
    padding: 10px green;
    border: 2px groove rgb(255, 0, 60);
}

h1{
    font-weight: bold;
    color:cornsilk;
    position: fixed;
    border: 2px outset rgb(52, 177, 226);
    background-color: rgb(148, 72, 219, 0.3);
    top: 10px;
    left: 50px;
}

h2{
    color:darkturquoise;
    border: 2px dotted red;
}

p{
    color:rgb(114, 66, 159);
    background-color: beige;
    margin: 3px;
}

li{
    color:rgb(248, 109, 153);
    background-color: rgb(228, 245, 220);
    margin: 3px;
}

nav{
    color:rgb(109, 248, 137);
    margin: 3px;
    padding: 10px green;
    border: 2px groove rgb(233, 138, 160);
    
    position: sticky;
    top: 50px;
    left: 30px;
}

#empty{
    min-height: 50em;
}